new-AKShare.json
{
  "name": "new-AKShare",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "company-analysis-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        1184
      ],
      "id": "ceb49188-76ee-41d8-92fc-07b855c92008",
      "name": "Webhook",
      "webhookId": "company-analysis-v3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 输入验证\nconst company = $input.item.json.body?.company;\nconst market = $input.item.json.body?.market || null;\n\nif (!company || typeof company !== 'string' || company.trim() === '') {\n  throw new Error('缺少必填参数: company (公司名称)');\n}\n\nif (company.length > 100) {\n  throw new Error('公司名称过长，请限制在100字符以内');\n}\n\nconst cleanCompany = company.trim();\n\nreturn {\n  json: {\n    userInputCompany: cleanCompany,  // 保存用户原始输入\n    company: cleanCompany,\n    market: market,\n    requestTime: new Date().toISOString()\n  }\n};"
      },
      "id": "47a81399-d783-425f-a6ac-a6ab876dae18",
      "name": "验证输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-b3d5b.up.railway.app/api/financial-report",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ company: $json.company, market: $json.market }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "115945b3-aefa-471a-813b-39b3cb5f1325",
      "name": "获取财报数据",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1184
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 处理 AKShare API 返回的数据，生成财务报告\nconst response = $input.item.json;\nconst inputData = $('验证输入').item.json;\n\n// 保持用户原始输入\nconst userInputCompany = inputData.userInputCompany;\n\nif (!response.success || !response.data.stock_found) {\n  return {\n    json: {\n      userInputCompany: userInputCompany,\n      company: userInputCompany,\n      stockCode: null,\n      stockName: null,\n      market: null,\n      stockFound: false,\n      hasFinancialData: false,\n      financialReport: `## 注意\\n\\n未找到「${userInputCompany}」的股票信息。\\n\\n可能原因：\\n1. 公司名称输入不完整或有误\\n2. 该公司未在A股或港股上市\\n\\n请尝试输入准确的股票简称（如「贵州茅台」「腾讯控股」）。`,\n      requestTime: inputData.requestTime\n    }\n  };\n}\n\nconst stockInfo = response.data.stock_info;\nconst financial = response.data.financial;\n\n// 格式化数字\nfunction formatNum(val) {\n  if (val === null || val === undefined || val === '' || val === '-') return '-';\n  const num = parseFloat(val);\n  if (isNaN(num)) return String(val);\n  if (Math.abs(num) >= 1e8) return (num / 1e8).toFixed(2) + '亿';\n  if (Math.abs(num) >= 1e4) return (num / 1e4).toFixed(2) + '万';\n  return num.toFixed(2);\n}\n\nfunction formatPct(val) {\n  if (val === null || val === undefined || val === '' || val === '-') return '-';\n  const num = parseFloat(val);\n  if (isNaN(num)) return String(val);\n  return num.toFixed(2) + '%';\n}\n\nfunction safeGet(obj, key, defaultVal = '-') {\n  if (!obj) return defaultVal;\n  const val = obj[key];\n  if (val === null || val === undefined || val === '') return defaultVal;\n  return val;\n}\n\n// 生成报告\nconst marketLabel = stockInfo.market === 'A' ? (stockInfo.symbol.startsWith('SH') ? 'SH' : 'SZ') : 'HK';\nlet report = `# ${stockInfo.name}（${stockInfo.code}.${marketLabel}）财务分析报告\\n\\n`;\nreport += `**用户查询公司**：${userInputCompany}\\n`;\nreport += `数据来源：AKShare (东方财富)  |  生成时间：${new Date().toLocaleString('zh-CN')}\\n\\n`;\n\n// 资产负债表\nconst balance = financial.balance_sheet || [];\nif (balance.length > 0) {\n  report += `## 一、资产负债表（最近${Math.min(balance.length, 8)}期）\\n\\n`;\n  report += `| 报告期 | 总资产 | 总负债 | 净资产 | 资产负债率 |\\n`;\n  report += `|--------|--------|--------|--------|-----------|\\n`;\n  for (const row of balance.slice(0, 8)) {\n    const period = safeGet(row, 'REPORT_DATE', safeGet(row, '报告期', '-'));\n    const periodStr = period !== '-' ? String(period).substring(0, 10) : '-';\n    const totalAssets = formatNum(safeGet(row, 'TOTAL_ASSETS', safeGet(row, '资产总计')));\n    const totalLiab = formatNum(safeGet(row, 'TOTAL_LIABILITIES', safeGet(row, '负债合计')));\n    const totalEquity = formatNum(safeGet(row, 'TOTAL_EQUITY', safeGet(row, '股东权益合计')));\n    const debtRatio = formatPct(safeGet(row, 'DEBT_RATIO', safeGet(row, '资产负债率')));\n    report += `| ${periodStr} | ${totalAssets} | ${totalLiab} | ${totalEquity} | ${debtRatio} |\\n`;\n  }\n  report += `\\n`;\n}\n\n// 利润表\nconst income = financial.income_statement || [];\nif (income.length > 0) {\n  report += `## 二、利润表（最近${Math.min(income.length, 8)}期）\\n\\n`;\n  report += `| 报告期 | 营业总收入 | 营业利润 | 净利润 |\\n`;\n  report += `|--------|-----------|---------|--------|\\n`;\n  for (const row of income.slice(0, 8)) {\n    const period = safeGet(row, 'REPORT_DATE', safeGet(row, '报告期', '-'));\n    const periodStr = period !== '-' ? String(period).substring(0, 10) : '-';\n    const revenue = formatNum(safeGet(row, 'TOTAL_OPERATE_INCOME', safeGet(row, '营业总收入')));\n    const operProfit = formatNum(safeGet(row, 'OPERATE_PROFIT', safeGet(row, '营业利润')));\n    const netProfit = formatNum(safeGet(row, 'NETPROFIT', safeGet(row, '净利润')));\n    report += `| ${periodStr} | ${revenue} | ${operProfit} | ${netProfit} |\\n`;\n  }\n  report += `\\n`;\n}\n\n// 现金流量表\nconst cashflow = financial.cash_flow || [];\nif (cashflow.length > 0) {\n  report += `## 三、现金流量表（最近${Math.min(cashflow.length, 8)}期）\\n\\n`;\n  report += `| 报告期 | 经营活动现金流 | 投资活动现金流 | 筹资活动现金流 |\\n`;\n  report += `|--------|---------------|---------------|---------------|\\n`;\n  for (const row of cashflow.slice(0, 8)) {\n    const period = safeGet(row, 'REPORT_DATE', safeGet(row, '报告期', '-'));\n    const periodStr = period !== '-' ? String(period).substring(0, 10) : '-';\n    const operCash = formatNum(safeGet(row, 'NETCASH_OPERATE', safeGet(row, '经营活动产生的现金流量净额')));\n    const investCash = formatNum(safeGet(row, 'NETCASH_INVEST', safeGet(row, '投资活动产生的现金流量净额')));\n    const financeCash = formatNum(safeGet(row, 'NETCASH_FINANCE', safeGet(row, '筹资活动产生的现金流量净额')));\n    report += `| ${periodStr} | ${operCash} | ${investCash} | ${financeCash} |\\n`;\n  }\n  report += `\\n`;\n}\n\n// 财务指标（仅A股）\nconst indicator = financial.financial_indicator || [];\nif (indicator.length > 0) {\n  report += `## 四、主要财务指标（最近${Math.min(indicator.length, 8)}期）\\n\\n`;\n  report += `| 报告期 | 每股收益 | 每股净资产 | 净资产收益率 | 毛利率 | 净利率 |\\n`;\n  report += `|--------|---------|-----------|-------------|--------|--------|\\n`;\n  for (const row of indicator.slice(0, 8)) {\n    const period = safeGet(row, '报告期', '-');\n    const periodStr = period !== '-' ? String(period).substring(0, 10) : '-';\n    const eps = formatNum(safeGet(row, '摊薄每股收益', safeGet(row, '基本每股收益')));\n    const bps = formatNum(safeGet(row, '每股净资产'));\n    const roe = formatPct(safeGet(row, '净资产收益率'));\n    const grossMargin = formatPct(safeGet(row, '销售毛利率'));\n    const netMargin = formatPct(safeGet(row, '销售净利率'));\n    report += `| ${periodStr} | ${eps} | ${bps} | ${roe} | ${grossMargin} | ${netMargin} |\\n`;\n  }\n  report += `\\n`;\n}\n\n// 数据质量说明\nconst hasBalance = balance.length > 0;\nconst hasIncome = income.length > 0;\nconst hasCashflow = cashflow.length > 0;\nconst hasIndicator = indicator.length > 0;\n\nif (!hasBalance && !hasIncome && !hasCashflow && !hasIndicator) {\n  report += `## 注意\\n\\n未能获取到该公司的财务数据，可能是数据源暂时不可用。\\n`;\n}\n\nreturn {\n  json: {\n    userInputCompany: userInputCompany,  // 保持用户原始输入\n    company: userInputCompany,           // 使用用户输入作为主要company字段\n    stockCode: stockInfo.code,\n    stockName: stockInfo.name,           // API返回的标准股票简称\n    market: stockInfo.market,\n    stockFound: true,\n    hasFinancialData: hasBalance || hasIncome || hasCashflow || hasIndicator,\n    financialReport: report,\n    requestTime: inputData.requestTime\n  }\n};"
      },
      "id": "0f2044a9-2106-441e-bc03-de50bfcf3884",
      "name": "生成财务报告",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1184
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 8000
        }
      },
      "id": "81068096-a7d6-4176-8855-e6facbcd71a0",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1680,
        1040
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "lg3OqaSti4piTEZr",
          "name": "DeepSeek account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "你是一位资深的商业分析师和投资顾问，精通波特的竞争战略理论和格雷厄姆的价值投资理论。\n\n## 分析对象\n**用户查询公司**：{{ $json.userInputCompany }}\n**匹配股票代码**：{{ $json.stockCode }}（{{ $json.market }}股）\n**标准股票简称**：{{ $json.stockName }}\n\n## 财务数据\n\n{{ $json.financialReport }}\n\n## 分析要求\n\n请基于上述财务数据进行深入分析。重要：你只需要分析财务数据，不要在 JSON 输出中填写股票基本信息（company、stock_info 等字段会由系统自动填充）。\n\n**财务分析重点**：\n1. **盈利能力**: 分析每股收益、净资产收益率、毛利率、净利率的变化趋势\n2. **偿债能力**: 关注资产负债率、流动比率\n3. **成长能力**: 分析营收增长率、净利润增长率，判断成长持续性\n4. **现金流质量**: 评估经营活动现金流与净利润的匹配度\n\n## 理论框架\n\n### 波特五力分析\n- 供应商议价能力、买方议价能力、潜在进入者威胁、替代品威胁、行业竞争程度\n\n### 格雷厄姆价值投资标准\n- 财务实力、盈利稳定性、盈利增长、合理估值\n\n## 输出格式\n\n请严格按以下 JSON 格式输出（不要包含 markdown 代码块标记）：\n\n{\n  \"company\": \"PLACEHOLDER\",\n  \"stock_info\": {\n    \"code\": \"PLACEHOLDER\",\n    \"name\": \"PLACEHOLDER\",\n    \"market\": \"PLACEHOLDER\"\n  },\n  \"financial_analysis\": {\n    \"data_quality\": \"数据质量评估（完整/部分/缺失）\",\n    \"profitability\": {\n      \"summary\": \"盈利能力分析（引用具体数字）\"\n    },\n    \"solvency\": {\n      \"summary\": \"偿债能力分析\"\n    },\n    \"growth\": {\n      \"summary\": \"成长能力分析\"\n    },\n    \"cash_flow\": {\n      \"summary\": \"现金流质量分析\"\n    },\n    \"key_highlights\": [\"财务亮点1\", \"财务亮点2\"],\n    \"key_concerns\": [\"财务风险点1\", \"财务风险点2\"]\n  },\n  \"competitive_analysis\": {\n    \"industry_type\": \"行业类型\",\n    \"five_forces\": {\n      \"supplier_power\": \"供应商议价能力\",\n      \"buyer_power\": \"买方议价能力\",\n      \"new_entrants\": \"潜在进入者威胁\",\n      \"substitutes\": \"替代品威胁\",\n      \"rivalry\": \"行业竞争程度\"\n    },\n    \"competitive_advantage\": \"核心竞争优势\",\n    \"moat\": \"护城河分析\"\n  },\n  \"investment_analysis\": {\n    \"investor_type\": \"适合投资者类型（防御型/积极型）\",\n    \"graham_criteria\": {\n      \"financial_strength\": {\"met\": true, \"detail\": \"财务实力评估\"},\n      \"earnings_stability\": {\"met\": true, \"detail\": \"盈利稳定性\"},\n      \"earnings_growth\": {\"met\": true, \"detail\": \"盈利增长\"},\n      \"valuation\": {\"met\": true, \"detail\": \"估值评估\"}\n    },\n    \"safety_margin\": \"安全边际评估\",\n    \"risks\": [\"风险1\", \"风险2\", \"风险3\"]\n  },\n  \"conclusion\": {\n    \"summary\": \"综合结论（300字以上，必须引用具体财务数据）\",\n    \"rating\": \"推荐/中性/谨慎\",\n    \"key_insights\": [\"洞察1\", \"洞察2\", \"洞察3\"],\n    \"action_suggestion\": \"具体行动建议\"\n  }\n}\n\n**重要提示**：company 和 stock_info 字段请填写 \"PLACEHOLDER\"，这些字段会由系统自动替换为正确的值。你只需专注于分析财务数据即可。",
        "options": {
          "systemMessage": "你是一位资深的商业分析师和投资顾问。分析时必须：\n1. 输出纯 JSON 格式，无 markdown 标记\n2. 引用具体财务数字，不能空泛描述\n3. 对比多期数据分析趋势\n4. 基于数据给出客观判断\n5. **重要**：在 JSON 输出的 company 字段中，必须使用用户的原始输入公司名，不要使用财报数据中的简称"
        }
      },
      "id": "03a79d84-5d22-4414-89df-cc659bd61ec2",
      "name": "AI Agent 分析",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1680,
        1184
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 处理 AI 输出，并强制使用正确的股票信息\nlet output = $input.item.json.output;\n\nconst inputData = $('生成财务报告').item.json;\nconst userInputCompany = inputData.userInputCompany;\nconst stockCode = inputData.stockCode;\nconst stockName = inputData.stockName;\nconst market = inputData.market;\n\nif (!output) {\n  throw new Error('AI 未返回有效输出');\n}\n\nif (typeof output === 'string') {\n  output = output.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  \n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    return {\n      json: {\n        success: false,\n        error: 'AI 输出格式错误',\n        raw_output: output.substring(0, 1000)\n      }\n    };\n  }\n}\n\n// 强制替换为正确的数据，防止 AI 幻觉或使用错误数据\nif (output && typeof output === 'object') {\n  output.company = userInputCompany;\n  \n  // 强制替换 stock_info，确保使用 API 返回的正确数据\n  if (output.stock_info && typeof output.stock_info === 'object') {\n    output.stock_info.code = stockCode;\n    output.stock_info.name = stockName;\n    output.stock_info.market = market;\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    data: output,\n    metadata: {\n      analyzed_at: new Date().toISOString(),\n      version: '5.0.2-stock-info-fixed',\n      data_source: 'AKShare',\n      stock_found: inputData?.stockFound || false,\n      has_financial_data: inputData?.hasFinancialData || false,\n      user_input_company: userInputCompany\n    }\n  }\n};"
      },
      "id": "dcf623cc-51ab-413b-9bcf-c2dcce609eee",
      "name": "格式化输出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1184
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2afaae2e-f96b-451d-89be-52e827ad3707",
      "name": "响应Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        1184
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "验证输入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证输入": {
      "main": [
        [
          {
            "node": "获取财报数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取财报数据": {
      "main": [
        [
          {
            "node": "生成财务报告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成财务报告": {
      "main": [
        [
          {
            "node": "AI Agent 分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 分析",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 分析": {
      "main": [
        [
          {
            "node": "格式化输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化输出": {
      "main": [
        [
          {
            "node": "响应Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5ae081a-e23b-45c9-9cd5-9188d8df67cc",
  "meta": {
    "instanceId": "9c96b0e0bee3d1f9834daa0a27088262d9b58d716f7df975f6d544ea6255d0c3"
  },
  "id": "UBwimg0q2SNfU4Ul",
  "tags": []
}